/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;  
    color: #5B5B5B;
    font-size: 14px;
    font-family: 'light', Roboto, "Helvetica Neue", sans-serif;
}